<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.TestryMapper" >

  <select id="querytest" resultType="com.jk.model.Testry">
    select *
    from testry
  </select>
  <delete id="del">
    delete from testry where testid=#{id}
  </delete>
  <insert id="addd">
     insert into testry
    values (#{testid,jdbcType=INTEGER},#{testname,jdbcType=VARCHAR},#{testiphone,jdbcType=VARCHAR},
    #{testsex,jdbcType=INTEGER})
  </insert>
  <select id="xian" resultType="com.jk.model.Testry">
    select *
    from testry
    where testid=#{id}
  </select>
  <update id="upda">
    update testry
    set testname = #{testname,jdbcType=VARCHAR}
    , testiphone = #{testiphone,jdbcType=VARCHAR},
    testsex = #{testsex,jdbcType=INTEGER}
    where testid = #{testid,jdbcType=INTEGER}
  </update>
</mapper>